@font-face {
  font-family: productSans;
  src: url(/resources/Product_Sans_Regular.woff2) format("woff2");
  font-display: fallback;
}

* {
  padding: 0;
  margin: 0;
  font-family: productSans;
  background-repeat: no-repeat;
  transition: all 0.3s ease;
}

.fusecolor-logo {
  padding: 10px;
  position: fixed;
  top: 30px;
  left: 30px;
  color: white;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: fixed;
}

.color-picker-main {
  width: 100;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.color-picker {
  border: 1px solid #ffffff61;
  border-radius: 10px;
  padding: 10px;
  margin-right: 10px;
  display: flex;
  transition: box-shadow 0.3s ease;
}

.color-picker:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.colorPicker {
  height: 40px;
  width: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  visibility: hidden;
}

.color-input {
  background-color: transparent;
  padding: 1px;
  width: 100px;
  border: none;
  text-align: center;
  font-size: 16px;
}

.color-input:focus {
  outline: none;
}

.blend-container {
  padding: 10px;
}

.fuse-btn {
  font-size: 16px;
  cursor: pointer;
  padding: 20px 40px;
  border-radius: 20px;
  border: 1px solid #ffffff28;
  background-color: rgba(255, 255, 255, 0.02);
  backdrop-filter: blur(10px);
  color: white;
  transition: all 0.3s ease;
}

.fuse-btn:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.text-copy-container {
  height: 30px;
  margin-top: 20px;
  border: 1px solid #ffffff28;
  border-radius: 10px;
  padding: 10px 10px 10px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: inset rgba(0, 0, 0, 0.085) 0px 25px 40px -9px;
  overflow: hidden;
  overflow-y: hidden;
}

.text-copy-input {
  resize: none;
  color: white;
  width: 40rem;
  font-size: 15px;
  background-color: transparent;
  border: none;
  padding: 0px 20px 0px 10px;
  font-size: 16px;
}

.textarea-btns {
  height: 70px;
  width: 70px;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  overflow: hidden;
}

.text-copy-btn {
  margin-left: 50px;
}

.text-copy-btn,
.download-btn {
  height: 30px;
  width: 30px;
  border: transparent;
  background-color: transparent;
  border-radius: 7px;
  margin-left: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.text-copy-btn:hover,
.download-btn:hover {
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.text-copy-btn:focus,
.download-btn:focus {
  border: 1px solid white;
}

.copy-icon,
.download-icon {
  margin-top: 4px;
  height: 20px;
  background-color: transparent;
}

.grad-orientation-container {
  width: 100%;
  max-width: 500px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.grad-orient {
  display: flex;
  align-items: center;
}

.ori-btn {
  height: 40px;
  width: 40px;
  cursor: pointer;
  border-radius: 50%;
  border: transparent;
  transition: all 0.3s ease;
  background-color: transparent;
}

.ori-btn:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 9px 3px;
}

.ori-btn:focus {
  border: 1px solid white;
}

.ori-icon {
  margin-top: 5px;
  margin-left: 2px;
  width: 15px;
}

.ori-icon-o {
  margin-top: 5px;
  width: 25px;
}

footer {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 20px;
}

footer p,
a {
  color: white;
  font-size: 13px;
}

/* Tablet view */
@media (max-width: 768px) {
  .text-copy-container {
    width: 30rem;
    height: auto;
    position: relative;
  }
  .text-copy-input {
    height: 70px;
    padding-top: 30px;
  }
  .textarea-btns {
    overflow: hidden;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 70px;
    width: 70px;
  }
}

@media only screen and (max-width: 550px) {
  .color-picker-main {
    flex-direction: column;
    align-items: center;
  }
  .color-picker {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .grad-orientation-container {
    flex-wrap: wrap;
    justify-content: center;
  }
  .grad-orient,
  .blend-container {
    flex-direction: column;
    align-items: center;
  }
  .grad-orient {
    flex-basis: calc(20% - 10px);
    margin: 5px;
  }

  .text-copy-container {
    width: 25rem;
  }
}

/* Mobile L */
@media (max-width: 475px) {
  .text-copy-container {
    width: 20rem;
  }
  .textarea-btns {
    overflow: hidden;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 10px;
    width: 110px;
  }
  .text-copy-input {
    padding-top: 10px;
  }
}

/* Mobile M */
@media (max-width: 375px) {
  .text-copy-container {
    width: 17rem;
  }
}

/* Mobile S */
@media (max-width: 320px) {
  .text-copy-container {
    width: 17rem;
    padding-top: 0px;
  }
  .text-copy-input {
    padding-top: 20px;
  }
}